body {
  background-color: black;
  color: green;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  margin: 0px;
  /* font-size: larger; */
}

/* ポインタ点滅 */
.point {
  -webkit-animation: blink 1s ease infinite;
  animation: blink 1s ease infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu {
  height: 20px;
  background: linear-gradient(silver, gray);
  padding-left: 5px;
  padding-top: 5px;
  color: black;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: dimgray;
}

#cn {
  /* background-color: red; */
  margin-top: 8.5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
